/* --------------------------------TAG------------------------------- */
body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    margin-top: 3rem;
    padding: 3rem;
    background-color: black;
    color: #ffffdf;
    text-align: center;
    /* position:sticky; */
    /* width: 93.3%; */
    bottom: 0px;
    left: 0%;
    right: 0%;
}

nav {
    padding: 1%;
    height: 7em;
    background-color: rgb(5, 120, 252);
}

/* --------------------------------INDEX------------------------------- */

/* --------------------------------NAV ELEMENT------------------------------- */
.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.li-nav a {
    padding: 0px 1.2em;
    color: azure;
    text-decoration: none;



}

.li-nav a:hover {
    color: rgb(27, 30, 33);
    transition: width 2s, transform 2s;


}

.li-nav img {
    width: auto;
    height: 4rem;
    transition: width 2s, transform 2s;

}

.li-nav img:hover {
    width: auto;
    /* height:4.4rem; */
    /* transform: scale(1.2); */
    transform: scale(1, 1.2);
}

.li-wrapper {
    padding-top: 1rem;
    float: right;
    font-size: 20px;
    margin-top: 20px;
}

.ul-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.li-nav {
    display: inline;

}


/* --------------------------------CONTAINER------------------------------- */
.container {
    padding: 2em;
    background-color: rgb(225, 204, 204);
}

.layout {
    padding: 1rem;
    background-color: rgb(247, 243, 243);
    border-radius: 1em;
    margin-bottom: 1rem;

}

/* --------------------------------CARD------------------------------- */
.card {
    width: 20rem;
    height: 28rem;
    margin: 2rem 0rem;
    /* border:1px solid grey; */
    border-radius: 1rem;
    background-color: antiquewhite;
}

.card-img,
.card-des {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    width: auto;
    height: 10rem;
    border-radius: 1rem;

}

.card-des-p {
    display: block;
}

.card-btn {
    color: #ffffff;
    border: 0px;
    border-radius: 1rem;
    background-color: #0f5cec;
    padding: 0.7rem 2rem;
    text-align: center;
}

/* --------------------------------ROW AND COL------------------------------- */
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* --------------------------------SLIDER------------------------------- */
/* .sliders {
    max-width: 100%;
    height: 500px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.all-slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.all-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.sliders {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sliders .all-slide img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    /* transform: scale(1.5) rotate(15deg); */
    /* -webkit-animation: animate 32s infinite; */
    animation: animate 8s infinite;
}

.sliders .all-slide:nth-child(3) img {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.sliders .all-slide:nth-child(2) img {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.sliders .all-slide:nth-child(1) img {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}

@keyframes animate {
    40% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    20% {
        opacity: 0;
    }
}


/* --------------------------------MAP------------------------------- */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* --------------------------------Footer------------------------------- */

.footer-basic {
    /* padding: 40px 0;
    background-color: #ffffff; */
    color: #f3f3f3;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
    color: blue;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(230, 229, 229);
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
    color: #0f5cec;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(100, 100, 100);
    margin-bottom: 0;
}

/* --------------------------------MEDIA QUERIES------------------------------- */

@media only screen and (max-width: 600px) {
    .li-wrapper {
        padding: 0.2rem;
        float: inline-start;
    }

    .li-nav a {
        padding: 1em 0.2em;
        color: azure;
        text-decoration: none;
    }

    .row {
        grid-template-columns: 50px;

    }

}